---
import type { Playlist } from "@/lib/data";

interface Props {
    playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

// Crear una instancia de Intl.ListFormat para el idioma deseado
const listFormatter = new Intl.ListFormat("es", {
    style: "long",
    type: "conjunction",
});

// Formatear la lista de artistas
const formattedArtists = listFormatter.format(artists);
---

<a
    href={`/playlist/${id}`}
    class="playlist-item flex relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-zinc-500"
>
    <picture class="h-12 w-12 flex-none">
        <img
            src={cover}
            alt={`Cover of ${title} by ${formattedArtists}`}
            class="object-cover w-full h-full rounded-md"
        />
    </picture>
    <div class="flex flex-auto flex-col truncate">
        <h4 class="text-sm">
            {title}
        </h4>
        <span class="text-xs font-normal">
            {formattedArtists}
        </span>
    </div>
</a>
